<%- include('templates/header.ejs' , {
    activeState:'union'
  } ) -%>
  <script src="listmember/member.js"></script>
<!-- main content -->
        <section class="templatemo-container">
            <div class="container">
                <div class="row margin-bottom-30">
                    <div class="col-lg-12 text-uppercase text-center">
                        <h2 class="section-title">SWA Union Members</h2>
                        <div class="section-title-underline-blue"></div>
                        <hr class="section-title-underline">
                    </div>
                </div>
                <div class="row margin-bottom-30">
                    <div class="col-lg-12">
                        <ul id="filters" class="folio-filters">
                            <li class=""><a href="#" data-filter=".2022-23">2022-23</a></li>
                            <li class=""><a href="#" data-filter=".2021-22">2021-22</a></li>
                            <li class=""><a href="#" data-filter=".2020-21">2020-21</a></li>
                            <li class=""><a href="#" data-filter=".2019-20">2019-20</a></li>
                            <li class=""><a href="#" data-filter=".2018-19">2018-19</a></li>
                            <li class=""><a href="#" data-filter=".2017-18">2017-18</a></li>
                            <li class=""><a href="#" data-filter=".2016-17">2016-17</a></li>
                            <li class=""><a href="#" data-filter=".2015-16">2015-16</a></li>
                            <li class=""><a href="#" data-filter=".2014-15">2014-15</a></li>
                            <li class=""><a href="#" data-filter=".2013-14">2013-14</a></li>
                            <li class=""><a href="#" data-filter=".2012-13">2012-13</a></li>
                            <li class=""><a href="#" data-filter=".2011-12">2011-12</a></li>
                            <li class=""><a href="#" data-filter=".2010-11">2010-11</a></li>
                            <li class="current"><a href="#" data-filter="*">All</a></li>
                        </ul>
                    </div>
                </div>
                <div id="folio-container" class="row">

                    <!-- start 2022-23--> 
                    <% memberList.forEach(member => { %>
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 margin-bottom-30 folio-item 2022-23">
                            <img src=<%= member.src %> alt=<%= member.name %> class="img-thumbnail">
                            <samp><p><h4><%= member.name %></h4></p></samp>
                            <samp><p><%= member.role %></p></samp>
                            <samp><p><%= member.year %></p></samp>                  
                        </div>
                      <% }); %>                  
                    
                    <!-- end 2010-11 -->     
                </div>
            </div>
        </section>
    <div class="blue-divider effect1">
            <div class="dark-blue-bg"></div>
            <div class="blue-divider-bg-graphic"></div>
            <div class="blue-bg"></div>
        </div>
        <section class="templatemo-container blue-bg footer-nav effect1">
            <div class="container">
                <div class="col-lg-2 col-md-2 col-sm-6 footer-block">
                    <h3 class="text-uppercase">Main menu</h3>
                    <nav class="text-uppercase templatemo-nav-2">
                        <ul>
                            <li><a href="https://gcelt.gov.in/"style="color: #ffffff" >GCELT</a></li>
                                <li><a href="/" style="color: #ffffff">Home</a></li>
                                <li><a href="/event"style="color: #ffffff" >Event</a></li>
                                <li><a href="/union_members" style="color: #ffffff">Union Members</a></li>
                                <li><a href="/gallery"style="color: #ffffff" class="active">Gallery</a></li>
                                <li><a href="/student_id"style="color: #ffffff" >Student Id</a></li>
                                <li><a href="/rc-gcelt"style="color: #ffffff" >RC_Gcelt</a></li>
                                <li><a href="/contact"style="color: #ffffff">contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 footer-block">
                     <h3 class="text-uppercase">About us</h3>
                    <p>Students Association of GCELT is a government of West Bengal registered association, the Reg. No being- S/1L/74818 of 2010-2011 under West Bengal Act XXVI of 1961.</p>
                    <h4>Account Details</h4>
                    <h5><strong>A/C Name :- </strong> STUDENTS WELFARE ASSOCIATION</h5>
                    <h5><strong>A/C No. :- </strong> 520101247020415</h5>
                    <h5><strong>IFSC Code :- </strong> UBIN0906638</h5>
                    <h5><strong>Bank Name :- </strong> UNION BANK</h5>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 footer-block">
                   <h3 class="text-uppercase">Impotent Notice</h3>
                    <ul>
                        <h5>
                            <li><a href="https://makaut1.ucanapply.com/smartexam/public/result-details">MAKAUT Result</a></li>
                        <li><a href="">Participation Certificate</a></li>
                        <li><a href="">Academic Calendar</a></li>
                        <li><a href="">Anti-Ragging Committee</a></li>
                        <li><a href="">SWA Presentation</a></li>
                        <li><a href="">Students Database</a></li>
                        </h5>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 footer-block">
                    <h3 class="text-uppercase">Contact Us</h3>
                    <ul>
                        <li>Government College of Engineering and Leather Technology</li>
                        <li><strong>Address- </strong>LB Block, Sector III, Bidhannagar, Kolkata, West Bengal 700098</li>
                        <li><strong>Mobile</strong>-6297112167</li>
                        <li><strong>Email Id</strong>- swa.gcelt@gmail.com </li>
                        <li><a href="https://www.facebook.com/groups/gcelt" target="_blank"><i class="fa fa-facebook-f" style="font-size:30px;color:red"></i><strong>ACEBOOK</strong></a></li>
                       
                        <li><a href="https://www.youtube.com/channel/UCcMxZX7cc21S3vxsuJkRl5A" target="_blank"><i class="fa fa-youtube-play " style="font-size:15px;color:red"></i><strong>  YOUTUBE</strong></a></li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- end main content -->
        <footer class="text-center">
            <p class="small copyright-text">2020 All Rights Reserved by SWA GCELT | </p>
        </footer>
 
        <!-- JS -->
        <script type="text/javascript" src="/js/jquery-1.11.2.min.js"></script>      <!-- jQuery -->
        <script type="text/javascript" src="/js/isotope.pkgd.min.js"></script>      <!-- Isotope, http://isotope.metafizzy.co -->
        <script type="text/javascript" src="/js/templatemo-script.js"></script>      <!-- Templatemo Script -->
        <script>
            // All images are loaded. Call isotope
            $(window).load(function() {
                 var $container = $('#folio-container');
                // init
                $container.isotope({
                // options
                itemSelector: '.folio-item',
                animationOptions: {
                        duration: 750,
                        easing: 'linear',
                        queue: false
                    },
                });

                // filter items when filter link is clicked
                jQuery('#filters a').click(function(){
                    var selector = $(this).attr('data-filter');
                    $container.isotope({ filter: selector });
                    return false;
                });

                jQuery('#filters li a').click(function(){

                    jQuery('#filters li').removeClass('current');
                    jQuery(this).parent().addClass('current');
                });
            });
        </script>
    </body>
</html>
